#top {
	position: relative;
	top: -8px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 70px;
	background-image: url("../images/top.png" );
	border-radius: 0px 0px 10px 10px;
	}

#links {
	position: relative;
	height: 70px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 25px;
	}

#link1 {
	position: absolute;
	width: 250px;
	height: 70px;
}

#link2 {
	position: absolute;
	width: 250px;
	height: 70px;
	left: 250px;
}

#link3 {
	position: absolute;
	width: 250px;
	height: 70px;
	left: 500px;
}

#link1, #link3{
	border-left: 1px groove black;
	border-right: 1px groove black;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	font-size: 27px;
	color: green;
}
